@import "tailwindcss";

:root {
  --background: #f2f2f2;
  --foreground: #000000;
  --primary-color: #ff4100;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary-color);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  @apply font-bold text-primary text-[1.4rem]
}